.container{
    height:50px;
    background-color: rgb(85, 46, 9);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-size: 18px;
}

.listItem{
    display: inline;
    margin-right: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

.listItem:hover {
    color:rgb(255, 191, 0);
    transition: 0.5s ease;

}